/* --------------------------Шапка сайта----------------------- */

/* Логотип */

/* ----------------------Герой--------------------- */

/* .hero {
  display: flex;
  height: 600px;
  align-items: center;
  background-color: var(--background-color);
  padding: 200px 0;
} */

/* -------------------Преимущества---------------- */

/* Услуги */

/* ------------------------Команда----------------------- */

/* -------------Клиенты-------------------- */

/* --------------------Футер-------------------------- */

/* ----------------------Страница Портфолио------------------ */

/* Фильтр-кнопки */

/* -------------------Модалка------------------ */
