.footer__section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  margin-right: 70px;
}

.footer-adress__item {
  margin-bottom: 9px;
}

.footer-adress__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  /* margin-bottom: 9px; */
  transition: color var(--trans-duration) var(--transit-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 6px;
}

.footer-contacts__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contact-color);
  /* margin-bottom: 6px; */
  transition: color var(--trans-duration) var(--transit-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-soc__section {
  align-items: baseline;
  text-align: left;
}

.footer-soc__title,
.subscribe__title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-soc__list {
  padding: 0;
  display: flex;
}

.footer-soc__item {
  margin-right: 10px;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }
}

.footer-soc__link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  transition: background-color var(--trans-duration) var(--transit-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.subscribe__section {
  margin-left: auto;
}

.icon-send-subscribe {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.subscribe__form {
  display: flex;
}

.subscribe__btn {
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  margin-left: 12px;

  transition: color var(--trans-duration) var(--transit-timing-function),
    background-color var(--trans-duration) var(--transit-timing-function),
    box-shadow var(--trans-duration) var(--transit-timing-function);

  &:hover,
  &:focus {
    background-color: var(--btn-color);
  }
}

.subscribe__field {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: var(--footer-contact-color);
  padding-left: 16px;
  transition: border-color var(--trans-duration) var(--transit-timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.footer-soc__icon {
  fill: var(--primary-white-color);
}
