:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-secondary-color: #F5F4FA;
  --btn-color: #188ce8;
  --card-set-gap: 30px;
  --icon-color: #AFB1B8;
  --footer-contact-color: #FFFFFF99;
  --trans-duration: 250ms;
  --transit-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}